.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 40%;
    height: 3.1rem;
    left: 30%;
    top: 120px;
    border-radius: 35px;  
    
}
#input{
    border-radius: 30px 0px 0px 30px;
}
#pesquisar{
    border-radius: 0px 30px 30px 0px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}
#pesquisar:hover{
    box-shadow:none;
    transform: translateY(-1px) translateX(-1px);

}
svg{
    width: 3%;
}
.alert{
    position: relative;
    width: 50%;
    left: 25%;
    top: 8rem;
}
.sug-div{
    width: 35%;
    position: relative;
    left: 30%;
    top: 114px;
    
}
.sug-list {
    max-height: 11rem;
    background-color: white;
    overflow: hidden;
    border-radius: 35px;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);

}
::-webkit-scrollbar {
    background-color: transparent; /* Cor da barra de rolagem */
} 
.sug-name {
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 0px;
    margin-left: -20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.sug-name:hover{
    background-color: #afafaf;
    transform: translateY(-1px) translateX(-1px);
    border-radius:20px ;
} 
.name{
    text-align: center;
    font-size: 4rem;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}
.number{
    position: relative;
    text-align: center;
    font-size: 4rem;
    border-radius: 1rem;
    left: 27%;
    background-color: #868686;
    min-width: 46%;
    width: max-content; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}
.tipos{
    display: flex;
    justify-content: center;
}
.tipo1, .tipo2{
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 1rem;
    margin: 0px 2px 0px 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);

}
.div-status{
    display: flex;
    justify-content: center;
    background-color: #868686;
    border-radius: 1rem;
    width: 100%;
    left: 0;
    position: relative;
    margin: 0.5rem 0px 0px 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}
.peso-altura {
    display: flex;
    position: relative;
    left: -5px; 
    
}
.div-status > p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 30px;
    
}
.row{
    
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin-bottom: 5px;
}





.btn-close{
    position: relative;
    left: 10px;
    top: 10px;
}
.btn-close:hover {
    
    transform: translateX(-5px) translateY(-5px);
}

.pokeDetail {
    flex: 1;
    overflow: hidden;
    background-size: 100%;
    width: 70%;
    height: auto;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 1);
    background-position: top;
    background-repeat: no-repeat;
    left: 15%;
    margin-top: 25px;
}
.image-detail {
    position: relative;
    left: 2.5%;
    bottom: 25px;
    width: 45%;
}
.button-detail-card{
    overflow:hidden;
    position: absolute;
    width: 102%;
    height: 2.5rem; 
    top: 0;
    left: -2px;
}

.tab-content{
    overflow: hidden;
    position: absolute;
    background-color: #afafaf;
    right: 0px;
    top: 0;
    height: 100%;
    border-radius: 1.5rem 1.5rem 0px 1.5rem;
    box-shadow: -11px 0px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
 
}
.detail-card {
   position: relative;
   top: 40px;

}
.btn.active {
   background-color:#afafaf;
   transform: translateY(-1px) translateX(-1px);
   box-shadow:5px 5px 0px rgba(0, 0, 0, 0.5);
   border: none;
}
.btn.evo.active {
    transform: translateY(-1px) translateX(-1px);
    box-shadow:-5px 3px 5px rgba(0, 0, 0, 0.5);

}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: -16px;
    margin-left: -22px;
    margin-top: -20px;
    cursor: pointer;
   
}
.stat-number{
    margin-left: -158px;
    margin-top: 8px;
}
.stat-name{
    margin-bottom: 5px;
    font-weight: 600;
}
.stat-comp{
    margin-bottom: -14px;
}
#porcentagem-composta{
    margin-top: 11px;
}
.progress {
    height: 12px;
}
.progress-bar {
    background-color: black;
}

.nav-link{
    margin-left: 5px;
    width: 100%;
}

.nav-item {
    width: 33%;
}

.stats {
    width: 6rem;
    text-align: center;
    margin-left: 33px;
    color : black;
    font-weight: 600;
    background-color: rgb(199, 199, 199); 
}
.stats:hover{
    transform: translateY(-1px) translateX(-1px);
    box-shadow:5px 3px 5px rgba(0, 0, 0, 0.5);
}

.evo {
    width: 7rem;
    text-align: center;
    margin-left: 66px;
    color : black;
    font-weight: 600;
    background-color: rgb(199, 199, 199); 
}
.evo:hover{
    transform: translateY(-1px) translateX(-1px);
    box-shadow:-5px 3px 5px rgba(0, 0, 0, 0.5);
}
ul {
    list-style: none;
}
.pokeDetailImage {
    width: 120px;
    position: relative;
    left: 33%;
}
.pokeDetailName{
    text-align: center;
    font-weight: bold;
    font-size:1.5rem;
}
.evos {
    width: 90%;
    height: 40%;
    overflow: hidden;
    border-radius: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 3px solid black;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}
.evos:hover{
    transform: translateY(-1px) translateX(-1px);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}
.info {
    width: 6rem;
    text-align: center;
    margin-left: 0px;
    color : black;
    font-weight: 600;
    background-color: rgb(199, 199, 199); 
}
.info:hover{
    transform: translateY(-1px) translateX(-1px);
    box-shadow:5px 3px 5px rgba(0, 0, 0, 0.5);
}






