ul {    
    columns: 4;
    column-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

li {
    list-style: none;
    
}

.card{
    overflow:hidden;
    border-radius:50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.pk-num{
    text-align: center;
}

.lista-pk{
    flex: 1;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;  
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 10%;
    width: 80%;
}
.button-botton{
    margin-top: -16px;
}

.previous {
    background-color: rgb(226, 66, 66);
    border: 2px solid black; 
}

.next {
    background-color: antiquewhite;
    border: 2px solid black;
}

.pk-img {
    width: 140px;
    margin-left: 10%;
}

.poke{
    display:flex;
}

.detalhes-pk {
    margin-left: 10px;
    margin-right: auto;
    flex: 1;
}

.detail-card{
    background-color: aliceblue;
    margin: 0px -10px -11px -10px; 
    border-radius: 25px;
    overflow: hidden;
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: -16px;
    margin-left: -22px;
}

.nav-link{
    
    margin-left: 5px;
    width: 100%;
}

.nav-item {
    margin-right: -20px;
    width: 33%;
}

.stats {
    width: 90%;
    text-align: center;
    color : black;
    font-weight: 600;
}

.evo {
    width: 112%;
    margin-left: -5px;
    color : black;
    font-weight: 600;
}

.info {
    text-align: center;
    color : black;
    font-weight: 600;
}

.tab-content{
    margin-top: 35px;
}

.pokeDetail {
    width: 300px;
    margin-left: 5px;
}
.name{
    text-align: center;
}
.number{
    
}

.grass {
    background-image:radial-gradient(circle, rgba(99,188,90,0.5) 0%, rgba(67,101,63,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.fire {
    background-image: radial-gradient(circle, rgba(255,157,85,0.5) 0%, rgba(210,123,58,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.water {
    background-image: radial-gradient(circle, rgba(80,144,214,0.5) 0%, rgba(22,116,219,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.bug {
    background-image: radial-gradient(circle, rgba(145,193,47,0.5) 0%, rgba(101,128,48,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.normal {
    background-image: radial-gradient(circle,rgba(145,154,162,0.5) 0%, rgba(102,105,108,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.electric{
    background-image: radial-gradient(circle, rgba(255, 216, 40, 0.5) 0%, rgba(185,156,26,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.poison{
    background-image: radial-gradient(circle,rgba(181,103,206,0.5) 0%, rgba(48,14,59,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.ground {
    background-image: radial-gradient(circle,rgba(217,120,69,0.5) 0%, rgba(143,53,6,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.fairy {
    background-image: radial-gradient(circle,rgba(236,143,230,0.5) 0%, rgba(126,0,118,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.fighting {
    background-image: radial-gradient(circle,rgba(206,65,107,0.5) 0%, rgba(107,59,73,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.psychic {
    background-image: radial-gradient(circle,rgba(250,113,121,0.5) 0%, rgba(154,82,87,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.rock {
    background-image: radial-gradient(circle,rgba(197,183,140,0.5) 0%, rgba(98,89,63,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.ghost {
    background-image: radial-gradient(circle,rgba(82,105,173,0.5) 0%, rgba(37,49,84,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.ice {
    background-image: radial-gradient(circle,rgba(115,206,192,0.5) 0%, rgba(0,186,158,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.dragon {
    background-image: radial-gradient(circle,rgba(11,109,195,0.5) 0%, rgba(3,56,103,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.dark {
    background-image: radial-gradient(circle,rgba(90,84,101,0.5) 0%, rgba(32,29,38,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.flying {
    background-image: radial-gradient(circle,rgba(137,170,227,0.5) 0%, rgba(0,58,157,1) 100%),
    url('../../assets/icons/pokeball.png');
}
.steel {
    background-image: radial-gradient(circle,rgba(90,142,162,0.5) 0%, rgba(24,71,89,1) 100%),
    url('../../assets/icons/pokeball.png');
}

