<div class="btn-group button-top" role="group" aria-label="Basic example">
    <button (click)="loadPrevious()" (click)="poke = false"  type="button" class="btn previous">anterior</button>
    <button (click)="loadNext()" (click)="poke = false" type="button" class="btn next">proximo</button>
</div>
<div class="poke">
<div class="lista-pk">
    <ul>
        <li *ngFor="let pokemon of pokemonsFotos ">
            <div class="card card-list {{ pokemon.tipo }}" (click)="poke = true;" (click)="getPokemonDetails(pokemon.url)"  >
                <div class="card-body">
                  <img  class="pk-img" [src]="pokemon.foto ? pokemon.foto: pokemon.fotoR " alt="{{ pokemon.name }}">
                  <h5 class="pk-num">#{{ pokemon.number }}</h5>
                  <h3 class="card-title"> {{ pokemon.nome.replace('-', ' ') | capitalize }} </h3>
                </div>
              </div>
        </li>
    </ul>
</div>
<div *ngIf="poke" class= "detalhes-pk">
  <div class=" card pokeDetail  {{ pokemonDetails.tipo }} "  >
    <img [src]="pokemonDetails.imagem" alt=" {{pokemonDetails.name}}">

    <div class="card-body detail-card">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item ">
          <p class="nav-link info" [class.active]="activeTab === 1" (click)="changeTab(1)">info</p>
        </li>
        <li class="nav-item ">
          <p class="nav-link stats" [class.active]="activeTab === 2" (click)="changeTab(2)">stats</p>
        </li>
        <li class="nav-item ">
          <p class="nav-link evo" [class.active]="activeTab === 3" (click)="changeTab(3)">evoluçoes</p>
        </li>
      </ul>
      
      <div class="tab-content">
        <div *ngIf="activeTab === 1">
            <h2 class="name">{{ pokemonDetails.name | capitalize  }}</h2>
            <h2 class="number">#{{ pokemonDetails.numero}}</h2>
            <h2>{{ pokemonDetails.evolucoes}}</h2>
            <p class="tipo">{{ pokemonDetails.tipos[0] }} {{ pokemonDetails.tipos[1] }}</p>
            <p class="altura">altura{{ pokemonDetails.altura | convertToCentimeters :'symbol-narrow' }} cm </p>
            <p class="peso">peso{{ pokemonDetails.peso | convertToKilograms  }} kg </p>
        </div>
        <div *ngIf="activeTab === 2">
          <div class="row">
            <div class="col stat-name">{{ pokemonDetails.stats[0].stat.name }}</div>
            <div class="col stat-number">
              <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{'width.%': pokemonDetails.stats[0].base_stat}">
                  {{ pokemonDetails.stats[0].base_stat }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col stat-name">{{ pokemonDetails.stats[1].stat.name }}</div>
            <div class="col stat-number">
              <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{'width.%': pokemonDetails.stats[1].base_stat}">
                  {{ pokemonDetails.stats[1].base_stat }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col stat-name">{{ pokemonDetails.stats[2].stat.name }}</div>
            <div class="col stat-number">
              <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{'width.%': pokemonDetails.stats[2].base_stat}">
                  {{ pokemonDetails.stats[2].base_stat }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col stat-name stat-comp"><p> {{ pokemonDetails.stats[3].stat.name.replace('-', ' ').split(' ')[0] }} <br> {{ pokemonDetails.stats[3].stat.name.replace('-', ' ').split(' ')[1] }}</p></div>
            <div class="col stat-number">
              <div id="porcentagem-composta" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div  class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated " [ngStyle]="{'width.%': pokemonDetails.stats[3].base_stat}">
                  {{ pokemonDetails.stats[3].base_stat }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col stat-name stat-comp"><p> {{ pokemonDetails.stats[4].stat.name.replace('-', ' ').split(' ')[0] }} <br> {{ pokemonDetails.stats[4].stat.name.replace('-', ' ').split(' ')[1] }}</p></div>
            <div class="col stat-number">
              <div id="porcentagem-composta" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div  class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated " [ngStyle]="{'width.%': pokemonDetails.stats[4].base_stat}">
                  {{ pokemonDetails.stats[4].base_stat }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col stat-name">{{ pokemonDetails.stats[5].stat.name }}</div>
            <div class="col stat-number">
              <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="{{ pokemonDetails.tipo }} progress-bar progress-bar-striped progress-bar-animated " [ngStyle]="{'width.%': pokemonDetails.stats[5].base_stat}">
                  {{ pokemonDetails.stats[5].base_stat }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab === 3">
              
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="btn-group button-botton" role="group" aria-label="Basic example">
  <button (click)="loadPrevious()" (click)="poke = false"  type="button" class="btn previous">anterior</button>
  <button (click)="loadNext()"  (click)="poke = false"  type="button" class="btn next">proximo</button>
</div>
