.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    border: 2px solid black;
    width: 90%;
    border-radius: 10px;
    background-color: aquamarine;
}
.header > h2 {
    margin-left: 70px;
    cursor: pointer;
}
.icon {
    width: 40px;
}

