
.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    border: 2px solid black;
    width: 90%;
    border-radius: 10px;
    background-color: aquamarine;
}
.header > h2 {
    width: 40px;
    margin: 0px 165px 0px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon {
    width: 40px;
}
a {
    color:black;
    font-size: 45px;
    margin-left: 495px;
}

@media (max-width: 440px) {
    .header {
        display: flex;
        align-items: center;
        border: 1px solid black;
        width: 100%;
        height: 50px;
        margin: -7px 0px 0px 0px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px ;
        background-color: rgb(31, 162, 250);
    }
    .header > h2 {        
        width: 70px;
        margin: 0px 9px 0px 15px;
        cursor: pointer;
        font-size: 15px;
    }
    a {
        color:black;
        font-size: 30px;
        margin-left: 70px;
    }
    .icon i {
        position: relative;
        left: 4rem;
    }
    .icon {
        width: 25px;
        margin-left: 20px;
    }
    .poke{
        position: relative;
        right: 1.5rem;
    }
    .info{
        position: relative;

    }
    .pesquisa {    
        position: relative;
        right: 0.5rem;
    }
    
}