.navbar-brand > img{
    width: 10rem;
}
.fa-brands{
    font-size: 2rem;
}
/*.nav {
    height: 40px;
}
.nav-link{
    font-size: 30px;
   
}
.outs{
    margin-left: 28rem;
}
.icon{
    width: 5px;
}
.iconPokemon{
    width: 9rem;
}
.header {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    width: 90%;
    border-radius: 35px;
    background-color: aquamarine;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}
.header > h2 {
    width: 40px;
    margin: 0px 165px 0px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon {
    width: 40px;
}
a {
    position: relative;
    color:black;
    font-size: 45px;
    margin-left: 10px;

    left: 10rem;
}
.link {
    position: relative;
    left: 15%;
}
.git{
    position: relative;
    left:0;
}

@media (max-width: 440px) {
    .header {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        padding: 3px;
        border-radius: 0px 0px 1rem 1rem;
        background-color: rgb(31, 162, 250);
    }
    .header > h2 {        
        width: 70px;
        margin: 0px 12px 0px 8px;
        cursor: pointer;
        font-size: 15px;
    }
    a {
        color: black;
        font-size: 26px;
        margin-left: 10px;
        position: relative;
        left: 3rem;
    }
    .icon {
        width: 25px;
        margin-left: 20px;
    }
    .poke{
        position: relative;
        right: 1.5rem;
    }
    .info{
        position: relative;

    }
    .pesquisa {    
        position: relative;
        right: 0.5rem;
    }
    .link {
        position: relative;
        left: 0;
    }
    .git{
        position: relative;
        left: -2rem;
    }
    
}
*/