<div class="header">
  <h2 routerLink="./pokemon">
      <img class="icon" src="assets/icons/ball.png" alt="home">
      Pokemons
  </h2>
  <h2 routerLink="./pesquisa">
      <img class="icon" src="assets/icons/loupe.png" alt="pesquisa">
      Pesquisar
  </h2>
  <h2 routerLink="./informacoes">
      <img class="icon" src="assets/icons/information.png" alt="pesquisa">
      Informações
  </h2>
  <a class="icon" href="https://github.com/leolsm12/"><i class="fa-brands fa-square-github" ></i></a>
</div>
